@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: graphik;
    src: url(../fonts/Graphik-Regular.ttf);
}

@font-face {
    font-family: varelaround;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px black;
    align-items: center;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.left {
    float: left;
    padding: 6px 0px 6px 20px;
    color: white;
    font-size: 25px;
}

li.right {
    font-family: sans-serif;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.about {
    color: white;
    width: 100%;
    position: relative;
    background-image: url(../img/code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: 30px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
}

.textabout {
    width: 80%;
    font-family: varelaround;
    font-size: 2.3vw;
    z-index: 1;
}

.aboutbigtext {
    font-family: opensans-bold;
    font-size: 7vw;
}

.about2 {
    height: 100%;
    padding: 1% 20% 0% 20%;
    width: 60%;
}

.textabout2 {
    font-family: opensans-regular;
    font-size: 3.2vw;
}

.cv {
    color: white;
    width: 100%;
    padding: 10% 0% 6% 0%;
    position: relative;
    background: #333333;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0 8%, 100% 0, 100% 95%, 0 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}

.textcv {
    font-family: opensans-regular;
    font-size: 3.2vw;
    height: 100%;
    width: 100%;
    background: #404040;
    clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0 90%);
    padding: 10% 0% 10% 0%;
}

.textcvleft {
    float: left;
    margin-left: 5%;
    width: 30%;
}

.textcvright {
    float: right;
    margin-right: 2%;
    width: 63%;
}

.cvbigtext {
    font-family: opensans-bold;
    font-size: 5.4vw;
}

.hobbiesicons {
    width: 70px;
}


.projects {
    background: #22ffaa;
    color: black;
    width: 100%;
    padding: 0%;
    margin-top: -5%;
    position: relative;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
}

.textprojects {
    font-family: opensans-regular;
    font-size: 3.4vw;
    height: 100%;
    width: 100%;
    padding: 0% 0% 10% 0%;
}

.projectsbuttons {
    padding: 5% 0% 0% 0%;
    float: left;
    width: 35%;
}

.tpl {
    margin: 5% 5% 5% 7%;
    padding: 30px;
    background: #117755;
    border: 2px solid #333333;
    border-radius: 50px;
    box-shadow: 0px 0px 15px black;
}

.projectsdisplay {
    background: #00945b;
    color: #ffffff;
    float: right;
    width: 60%;
    height: 100%;
    border-radius: 100px;
    font-size: 1.8vw;
}

.projectstop {
    margin: 0px 50px 10px 50px;
}

.projectsleft {
    width: 50%;
    float: left;
}

.projectsright {
    width: 50%;
    float: right;
}

.projectsbottom {
    float: left;
    width: 100%;
    margin: 0px 0px 50px 0px;
}

a {
    color: white;
}

a:hover {
    color: darkgreen;
}

.icons {
    width: 50px;
}